@font-face {
	font-family: Roboto;
	src: url(Roboto-Thin.ttf);
}
@font-face {
	font-family: RobotoM;
	src: url(Roboto-Medium.ttf);
}
#lateral{
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}
#lateral {
	opacity: 1;
	position: fixed !important;
	top: 0%;
	left: 0%;
	width:20%;
	height: 100%;
}
.links {
	text-decoration: none;
	color: #e0c0c0;
}
.links:hover{
	color: #f2c9cb;
	font-family: RobotoM;
}
.opc {
	height: 10%;
	font-size: 26px;
	background: #d8222e;
	font-family: Roboto;
	padding: 4px;
	display: table-cell;
}
/* foto do perfil */
#perfil {
	width: 60%;
	height: 14%;
	border: 10px solid #ad262f;
	border-radius: 100%;
	cursor: pointer;
}
/* celula da foto */
.tdperfil {
	background: #d8222e;
	height: 10%;
}

#contentL {
	display: table-cell;
	vertical-align: middle;
}